/*=========  Poppins & Niconne Font =========*/
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  outline: 0;
}
body {
  background-color: #ffffff;
}

/*======== Common style =======*/
.inline {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*============== Header part style ==========*/
header {
  background-color: #2d25a0;
}

.header_size {
  max-width: 1163px;
  height: auto;
  margin: 0 auto;
}

#menu_mobile {
  display: none;
}

#menu_mobile i {
  color: #ffffff;
  font-size: 22px;
}

.menu {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-right: 36px;
}

.menu_btn {
  padding: 10px 24px 10px 24px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #e02c6d;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: 0.5s all ease;
  border: 1px solid #e02c6d;
}

.menu_btn:hover {
  background: #2d25a0;
  border: 1px solid #ffffff;
}

/*== Banner part start ==*/
.banner {
  padding-top: 49px;
  padding-bottom: 86px;
}

.banner .inline {
  justify-content: space-between;
}

.banner_intro {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  line-height: 80px;
}

.banner_imgBox img {
  width: 556px;
  height: 438px;
}

/*======= Player part style  =========*/

.player {
  margin-top: 70px;
}

.player_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}

.player article {
  padding: 15px;
  -webkit-box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.48);
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.48);
}

.player_img img {
  max-width: 300px;
  height: 256px;
}

.player_name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #18191f;
  font-size: 20px;
  line-height: 40px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.player_info {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #6c6c6c;
  font-size: 15px;
  line-height: 24px;
}

/*=========== HiHighlights part style ===========*/

.Highlights {
  margin-top: 165px;
  margin-bottom: 158px;
}

.Highlights_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 69px;
}

.Highlights_title {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #0a0826;
  line-height: 60px;
  margin-bottom: 8px;
}

.Highlights_description {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #6c6c6c;
}

.Highlights_imgBox img {
  max-width: 567px;
  height: 427px;
}

/*============== Sponsors part style  =============*/

.sponsor {
  padding-bottom: 50px;
}

.sponsor_field img {
  height: 42px;
  width: 60px;
  padding: 20px;
}

.sponsor_field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

/*=============== Footer part style =============*/

.footer_big {
  background-color: #2d25a0;
  padding: 40px 0px;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: baseline;
  gap: 25px;
}

.footer_title {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer_column ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer_column ul a {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.4px;
  font-size: 15px;
}

.footer_column ul a:hover {
  text-decoration: underline;
}

.footer_column ul small {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer_column ul a img {
  width: 150px;
  display: inline;
}

/*----- small footer part style -----*/

.footer_small {
  margin-top: 100px;
  margin-bottom: 40px;
}

.footer_smallFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.footer_logo img {
  width: 484px;
  height: 110px;
  margin-bottom: 20px;
}

.footer_socialIcon {
  margin-bottom: 20px;
}

.footer_socialIcon a {
  margin-right: 14px;
}

.footer_socialIcon a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  background-color: #e7e7e8;
  border-radius: 50%;
  color: #969bab;
}

.footer_endingText p {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/*================ Tablet break  ==============*/

@media only screen and (max-width: 1026px) {
  .menu {
    padding-top: 33px;
  }

  .banner_intro,
  .Highlights_title {
    font-size: 40px;
    line-height: 60px;
  }

  .banner_imgBox img,
  .Highlights_imgBox img {
    width: 100%;
    height: auto;
  }

  .header_size,
  .container {
    padding: 0px 18px;
  }

  .player_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .player_img img {
    width: 100%;
    height: auto;
  }

  .Highlights {
    margin-top: 120px;
    margin-bottom: 126px;
  }
}

/*================ Mobile-1 break  ==============*/

@media only screen and (max-width: 765px) {
  .header_size {
    padding: 0px 16px;
  }

  .container {
    padding: 0px 12px;
  }

  #menu_mobile {
    display: block;
  }

  .menu_list {
    display: none;
  }

  .banner {
    padding-bottom: 61px;
    padding-top: 46px;
  }

  .banner_intro {
    font-size: 35px;
    line-height: 50px;
  }

  .Highlights_title {
    font-size: 30px;
    line-height: 50px;
  }

  .player {
    margin-top: 55px;
  }

  .player_grid {
    gap: 24px;
  }

  .Highlights {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .Highlights_grid {
    column-gap: 46px;
  }

  .footer_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*================ Mobile-2 break  ==============*/

@media only screen and (max-width: 765px) {
  .inline {
    flex-direction: column;
  }

  .banner_intro {
    margin-bottom: 30px;
  }

  .player {
    margin-top: 47px;
  }

  .player_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px 0px;
  }

  .Highlights {
    margin-top: 60px;
    margin-bottom: 43px;
  }

  .Highlights_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .Highlights_description {
    margin-bottom: 29px;
  }

  .sponsor {
    padding-bottom: 43px;
  }

  .footer_small {
    margin-top: 43px;
    margin-bottom: 25px;
  }

  .footer_logo img {
    width: 100%;
    height: auto;
    margin-bottom: 29px;
  }
}

@media only screen and (max-width: 350px) {
  .footer_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
